@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav_link {
    @apply cursor-pointer hover:text-[#ff6565];
  }

  .rotate img {
    transform: rotateY(0deg);
    transition: all 0.5s;
  }
  .rotate:hover img {
    transform: rotateY(360deg);
  }
  .topCard img {
    transform: scale(1);
    transition: all 0.5s;
  }
  .topCard:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .badge {
    @apply absolute cursor-pointer rounded-full px-3 font-medium text-white sm:px-6 sm:py-1;
  }

  .social_logo {
    @apply -rotate-90 cursor-pointer hover:fill-[#ff6565] md:rotate-0;
  }
  .footer_logo {
    @apply cursor-pointer hover:text-[#ff6565];
  }
  .footer_box {
    @apply py-3 lg:py-20 lg:pl-14;
  }
  .buttonCarts {
    @apply flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white px-2 ring-2 ring-red-400;
  }

  .addcart_div {
    /* @apply hidden; */
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    transition: all 0.7s ease;
  }
  .topCard:hover .addcart_div {
    @apply block;
    position: absolute;
    transform: translateY(-80px);
  }
}

html {
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff6565;
    border-radius: 100px;
  }
}

.bg_joinus {
  background-size: cover;
  background-image: url('https://template.hasthemes.com/brancy/brancy/assets/images/photos/bg1.webp');
}

.dates_hero::after {
  height: 2px;
  width: 50px;
  content: '';
  background-color: #f3b7a2;
  display: inline-block;
}
.dates_hero::before {
  height: 2px;
  width: 50px;
  content: '';
  background-color: #f3b7a2;
  display: inline-block;
}

.loges_hero::before {
  height: 0.5px;
  width: 140px;
  content: '';
  background-color: #fff;
  display: inline-block;
}
